*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: #e2d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.product-card{
    width: 350px;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.product-card img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    border-radius:15px;
}
.product-info h2{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #1f1d1d;
}
.price{
    font-size: 24px;
    font-weight: bold;
    color: #c72330;
    margin-bottom: 20px;
}
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background-color:#007bff;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition: 0.3s;
    font-weight:600;
    letter-spacing:0.5px;
}

button:hover{
    background-color:#043973;
    transform: translateY(-5px);
}
.products{
    display: flex;
    gap:30px;
    justify-content:center;
}